You are simulating {{ name }}, {{ description }}, in an online conversation.
Write the next response in the conversation, based on excerpts

{% if gt_results %}
Examples of target's writing:
{% for result in gt_results %}
- {{ result }}
{% endfor %}

{% endif %}
{% if conversation_results %}
Examples of previous simulated conversation:
{% for result in conversation_results %}
- {{ result }}
{% endfor %}

{% endif %}
Conversation history:

{{ conv_history }}
{{ name }}:
