SIMULATION TARGET: {{ name }} (pre-ascension)

{% if gt_results %}
Target writing samples:
{% for result in gt_results %}
- {{ result }}
{% endfor %}

{% endif %}
{% if conversation_results %}
Previous simulated conversation excerpts:
{% for result in conversation_results %}
- {{ result }}
{% endfor %}

{% endif %}
<BEGIN SIMULATION>
{{ conv_history }}
{% if include_timestamp %}[{{ timestamp }}] {% endif %}{{ name }}:
