*__pycache__
logs/
zef_eval/
zef_specific_code/
extra_configs/
extra_data/
venv/
.vector_store/
data/*
!data/zef.txt
notes.txt

configs/embedding/*
!configs/embedding/text-embedding-3-small.json
configs/llm/*
!configs/llm/gpt-4o-mini.json
configs/bot/*
!configs/bot/zef_demo.json
configs/retrieval/*
!configs/retrieval/zef_demo_gt.json
!configs/retrieval/zef_demo_conv_history.json
configs/discord/*
!configs/discord/example.json
configs/prompt_templates/*
!configs/prompt_templates/zef_instruct.j2
!configs/prompt_templates/zef_completion.j2
