.ragatouille
.llama_index
.vector_store
extra_data
extra_configs
__pycache__
venv
discord/configs/*.json
!discord/configs/example.json
zef_specific_code/
eval/zef
data/
notes.txt
configs/llm/*
configs/discord/*
configs/bot/example.json
configs/embedding/*
logs/*
